*.sdf

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.log
*.tlog
*.exp
*.obj
*.pch
*.pdb
*.manifest
*.lastbuildstate
*.cache
*.opensdf

Release/
Release64/
Debug/